{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 2, "knowledge_revision": 5, "git_revision": "", "hash": "d5173c6d8d4824f686c506c503e48c8c", "format-version": 4, "code-base-name": "Backend API Service", "filename": "Backend_API_Service/requirements.txt", "revision_history": [{"5": ""}]}